<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.walepatrick.kareTechApp"
        versionCode = "1"
        version = "1.0.0">

    <gap:splash src="karetech_splash.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="karetech_splash.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="karetech_splash.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="karetech_splash.png" gap:platform="android" gap:density="xhdpi" />
    <!-- Define version of phonegap to use -->
    <preference name="phonegap-version" value="1.9.0" />

    <name> KareTechApp</name>
    <description> Collaborative App for team-based M-learning Property of Wale Patrick </description>
    <author href = "https://kareTechApp.azurewebsites.net"
            email = "b.p.d.okare@rgu.ac.uk">
        Wale Patrick
    </author>
    <icon src ="karetech_icon.png" />
</widget>

