/** This is the main style sheet for the project **/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body{

    font-family: Arial, Helvetica, sans-serif; ;
}
h3{
    color: darkred;

}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {

    color: darkred;
}



.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #066;
    width: 100%;
    border: 0;
    border-radius: 5%;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: darkgreen;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
#body {
    background: #066; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #066, #066);
    background: -moz-linear-gradient(right, #066, #066);
    background: -o-linear-gradient(right, #066, #066);
    background: linear-gradient(to left, #066, #066);
    font-family: "cursive", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

























/**To control the editor styling.... **/
textarea{
    border:1px solid slategray;
    width:80%;
    margin:5px 0;
    padding:3px;
}

form, p, span {
    margin:0;
    padding:0; }

input { font:12px arial; }

#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:350px;
    border:1px solid #ACD8F0;

}

#loginform { padding-top:18px; }

#loginform p { margin: 5px; }

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:259px;
    width:320px; /** Control inner message box**/
    border:1px solid #ACD8F0;
    overflow:auto;

}

#usermsg {
    width:290px;/** Controls where users would type into **/
    border:1px solid #ACD8F0; }

#submit { width: 60px; }

.error { color: #ff0000; }

#menu { padding:12.5px 25px 12.5px 25px; }

.welcome { float:left; }

.logout { float:right; }

.msgln { margin:0 0 2px 0; }








/** Styling of the Footer below **/
.site-footer{

    background-color: lightgray;
    color: gray;
    margin-top: 30px;
    padding-top: 30px;
}
.bottom-footer{

    border-top: 1px solid gray;
    margin-top: 10px;
    padding-top:10px;
    color:gray;
}
.footer-nav{
    text-align: right;
    list-style:none;
}
.footer-nav li{

    display:inline;
}
.footer-nav li:not(:first-child):before{
    content:'|' ;
    padding:0px 10px;
}
.footer-nav a{
    color:gray;
}
.footer-nav a:hover{
    text-decoration: none;
    color: darkred;
}
.moveright{
    float: right;
}
/** End of footer styling **/