
body{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: mintcream;
}
header{
    background-color: navy;
}
h2{
    color: whitesmoke;
    text-align: center;
}
nav>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav>ul>li{
    float:left;
}

nav>ul>li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
}
li a:hover{
    color: goldenrod;
  /  background-color: darkorange;
}
/* End of Navigation bar Control */

footer>p{
    text-align: center;
    color:whitesmoke;
}
.footer{
    background-color:  navy;

    height: 150px;
    clear: both;
    /*  width: 100%; */
}
/* Chat form css */
form, p, span {
    margin:0;
    padding:0; }

input { font:12px arial; }

#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0;

}

#loginform { padding-top:18px; }

#loginform p { margin: 5px; }

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:200px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto;

}

#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }

#submit { width: 60px; }

.error { color: #ff0000; }

#menu { padding:12.5px 25px 12.5px 25px; }

.welcome { float:left; }

.logout { float:right; }

.msgln { margin:0 0 2px 0; }

#right{
    float: right;

}
#left{
    float: left;
}
/* Chat form Close */