/** This is the main style sheet for the project **/

body{

    font-family: Arial, Helvetica, sans-serif; ;
}
h3{
    color: darkred;

}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {

    color: darkred;
}


/**To control the editor styling.... **/
textarea{
    border:1px solid darkred;
    width:89%;
    margin:5px 0;
    padding:3px;
}
/** End of Code Editor Control ..... **/

















/** Styling of the Footer below **/
.site-footer{

    background-color: lightgray;
    color: gray;
    margin-top: 30px;
    padding-top: 30px;
}
.bottom-footer{

    border-top: 1px solid gray;
    margin-top: 10px;
    padding-top:10px;
    color:gray;
}
.footer-nav{
    text-align: right;
    list-style:none;
}
.footer-nav li{

    display:inline;
}
.footer-nav li:not(:first-child):before{
    content:'|' ;
    padding:0px 10px;
}
.footer-nav a{
    color:gray;
}
.footer-nav a:hover{
    text-decoration: none;
    color: darkred;
}
.moveright{
    float: right;
}
/** End of footer styling **/