/** This is the main style sheet for the project **/

body{

    font-family: Arial, Helvetica, sans-serif; ;
}
h3{
    color: darkred;

}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {

    color: darkred;
}

/**To control the editor styling.... **/
textarea{
    border:1px solid slategray;
    width:80%;
    margin:5px 0;
    padding:3px;
}

form, p, span {
    margin:0;
    padding:0; }

input { font:12px arial; }

#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:350px;
    border:1px solid #ACD8F0;

}

#loginform { padding-top:18px; }

#loginform p { margin: 5px; }

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:259px;
    width:150px; /** Control inner message box**/
    border:1px solid #ACD8F0;
    overflow:auto;

}

#usermsg {
    width:200px;/** Controls where users would type into **/
    border:1px solid #ACD8F0; }

#submit { width: 60px; }

.error { color: #ff0000; }

#menu { padding:12.5px 25px 12.5px 25px; }

.welcome { float:left; }

.logout { float:right; }

.msgln { margin:0 0 2px 0; }








/** Styling of the Footer below **/
.site-footer{

    background-color: lightgray;
    color: gray;
    margin-top: 30px;
    padding-top: 30px;
}
.bottom-footer{

    border-top: 1px solid gray;
    margin-top: 10px;
    padding-top:10px;
    color:gray;
}
.footer-nav{
    text-align: right;
    list-style:none;
}
.footer-nav li{

    display:inline;
}
.footer-nav li:not(:first-child):before{
    content:'|' ;
    padding:0px 10px;
}
.footer-nav a{
    color:gray;
}
.footer-nav a:hover{
    text-decoration: none;
    color: darkred;
}
.moveright{
    float: right;
}
/** End of footer styling **/