
h1{
    color: navy;
    font-family: cursive;
}

h2{
    color: navy;
    font-family: cursive;
    font-size: 20px;
    text-align: center;
}
nav{

    background-color: chartreuse;
}

body{
    background-color: cornsilk;

}
img{
    width: 80px;
    height: 80px;

}
#mugContainer1 {

    background-color: darkmagenta;
    width: 30%;
    float:left;
    margin: 1%;
    padding: 1%;
}
#mugContainer2{
    background-color: greenyellow;
    width: 33%;
    display: inline-block;

}

#mugContainer3{
    width: 33%;
    background-color: green;
    float: right;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
li{
    float: left;

}

li a{
    display: inline-block;
    text-align: center;
    padding: 0 10px 10px 10px;
    text-decoration: none;
    background-color: aqua;

}




footer{

    background-color: rosybrown;
    clear:both;
}


